<main>
  <section>
    <div>
      <div>
        <h1>Komal</h1>
        <p>Student ID: 200544927
          <br />Computer Programming</p>
      </div>
      <div>
        <img src="/images/myPic.jpg" alt="" />
      </div>
    </div>
  </section>

  <!-- ===================================== ABOUT ME ======================================= -->
  <section>
    <div>
      <h1>About Me</h1>
      <p>
        I am a student at Georgian College studying Computer Programming. 
        <br />
        I am from India.
        <br />
        I love listening to music in my free time.
        <br/>
        I always take some time out of my busy schedule to talk to my mom back home.
      </p>
    </div>
  </section>

  <!-- ===================================== MY TOOLKIT ======================================= -->
  <section>

    <div>
      <h1>Key Tools 🔍</h1>
      <div>
        <figure>
          <img src="/images/vscode.webp" alt="" id="toolkit" />
          <figcaption>VS Code</figcaption>
        </figure>
        <figure>
          <img src="/images/bootstrap.png" alt="" id="toolkit" />
          <figcaption>Bootstrap</figcaption>
        </figure>
        <figure>
          <img src="/images/express_logo.webp" alt="" id="toolkit" />
          <figcaption>Express JS</figcaption>
        </figure>
        <figure>
          <img src="/images/render.png" alt="" id="toolkit" />
          <figcaption>Render</figcaption>
        </figure>
        <figure>
          <img src="/images/GitHub_logo.png" alt="" id="toolkit" />
          <figcaption>GitHub</figcaption>
        </figure>
      </div>
    </div>

  </section>

</main>