<main id="projectsPage">
  <!-- ===================================== HTML/CSS ======================================= -->
  <section>
    <div>
      <b>1. Html/CSS: </b>
      &nbsp; A website that sell shoes for men, women and kids. There were 3
      different pages for all categories.
    </div>
  </section>

  <!-- ===================================== TinkerCad ======================================= -->
  <section>
    <div>
      <b>2. TinkerCad- GK Quiz: </b>
      &nbsp; There were 5 questions and the screen give 2 options for each question and 2 buttons were attached to select the answer. 
    </div>
  </section>

  <!-- ===================================== ASP.Net ======================================= -->
  <section>
    <div>
      <b>3. ASP.Net: </b>
      &nbsp;  A website of restaurant to order food online.

    </div>
  </section>

  <!-- ===================================== CSS ======================================= -->
  <section>
    <div>
      <b>4. CSS- Portfolio: </b>
      &nbsp; About me portfolio webpage
    </div>
  </section>
</main>